<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<div>
    <h3><%=@latest_article.title%></h3>
    <p><%=@latest_article.text%></p>
</div>

<% main_categories.each do |category|%>
    <div>
        <h5><%=category.name%> </h5>
        <h3><%=category_latest(category.name).title%> </h3>
        <p><%=category_latest(category.name).text%></p>
    </div>
<% end %>
<br>

<%= link_to 'New Article', new_article_path %>
