<div class="row ordered-articles">
    <%counter = 0%>
    <% @articles.each do |article|%>
        
        <article class="col-6 d-flex overflow-hidden article-block">
            <% if counter <= 1 %>
                <img src="<%=article.image%>" class="img-fluid"  alt="">
                <div class="category-info p-3">
                    <h3><%=@category.name%></h3>
                    <h4><%=article.title%> </h4>
                    <p><%=article.text%> </p>
                     <%=link_to "- #{article.user.name}", article.user%>
                    <%= vote_btn(article)%>
                </div>
            <%counter += 1%>
            <% else %>
                <div class="category-info p-3">
                    <h3><%=@category.name%></h3>
                    <h4><%=article.title%> </h4>
                    <p><%=article.text%> </p>
                    <%=link_to "- #{article.user.name}", article.user%>
                    <%= vote_btn(article)%>
                </div>
                <img src="<%=article.image%>" class="img-fluid"  alt="">
                <% if counter < 3 %>
                    <%counter += 1%>
                <% else  counter = 0%>
                <% end %>
            <% end %>
        </article>
    <% end %>
</div>