<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar bg-light">
    <div class="navbar-main d-flex flex-row justify-content-around">
      <%=link_to 'Logo', articles_path, class: "nav-link"%>
      <ul class="navbar-nav d-flex flex-row justify-content-around navbar-list">
        <% main_categories.each do |category|%>
          <li class="nav-item"><%=link_to "#{category.name}", category, class: "nav-link"%></li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if logged_in?%>
          <p><%=current_user.name%> </p>
          <%= link_to 'logout', logout_path, method: "post", class: "nav-link"%>
          <% else %>
          <%= link_to 'login', login_path, class: "nav-link"%>
          <%= link_to 'sign up', new_user_path, class: "nav-link"%>
        <% end %>
      </div>
    </div>

  </nav>
  
  
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <p>text </p>
    </div>
  </footer>
</html>
